.main {
    background-color: #222222;
}

.param-knob {
    width: 100%;
    space: 0px;
}

label {
    child-space: 1s;
    font-size: 15;
    color: #c2c2c2;
}

knob {
    width: 50px;
    height: 50px;
    space: 0px;
}

.drive knob {
    width: 70px;
    height: 70px;
    space: 0px;
}

knob .track {
    background-color: #e77c7c;
}

.tick {
    background-color: #696969;
}

.graph {
    width: 250px;
    height: 250px;
}

.peak-meter {
    width: 20px;
    height: 300px;
}

enum-button > label {
    font-size: 20;
}

enum-button:checked {
    background-color: #e77c7c;
}

enum-button:checked > label {
    color: #222222;
}
