.main {
    background-color: #ffc482;
}

.body {
    space: 20px;
}

.title {
    font-size: 30;
    bottom: 10px;
    left: 250px;
}

.param-knob {
    width: 100%;
    space: 0px;
}

.track {
    background-color: #2b3a67;
    foreground-color: #2b3a67;
}

label {
    font-size: 15;
    color: #2b3a67;
}

knob {
    width: 50px;
    height: 50px;
    space: 0px;
}

.drive knob {
    width: 70px;
    height: 70px;
    space: 0px;
}

knob .track {
    background-color: #66999b;
}

.tick {
    background-color: #b3af8f;
}

.graph {
    width: 250px;
    height: 250px;
    left: 28px;
    right: 28px;
}

.peak-meter {
    width: 20px;
    height: 300px;
}

enum-button:checked {
    background-color: #66999b;
}

enum-button:checked > label {
    color: black;
}
